<div style="margin-bottom: 20px" style="text-align:right">
    <p-menubar [model]="items" ></p-menubar>
</div>

<p-dataView #dv [value]="productos" [paginator]="true" [rows]="10" paginatorPosition="both" filterBy="nombreproducto"
[sortField]="sortField" [sortOrder]="sortOrder">
<p-header>
    <div>
     
    </div>
    <div class="ui-helper-clearfix">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-4">
                <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Ordenar por" (onChange)="onSortChange($event)" [style]="{'min-width':'140px'}"></p-dropdown>
            </div>
            <div class="ui-g-6 ui-md-4 filter-container">
                <div style="position:relative">
                    <input type="search" pInputText placeholder="Buscar" (input)="dv.filter($event.target.value)">
                </div>
            </div>
            <div class="ui-g-6 ui-md-4" style="text-align:right">
                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            </div>
        </div>
    </div>
</p-header>
<ng-template let-producto pTemplate="listItem">
    <div class="ui-g-12">

            <div>
               
                <div class="ui-g">
                    <div class="ui-g-12"><b>{{producto.nombreproducto}}</b></div>
                    <div class="ui-g-12">Descripción: <b>{{producto.descripcion}}</b></div>
                    <div class="ui-g-12">Peso: <b>{{producto.peso}}</b></div>
                    <div class="ui-g-12">Precio: <b>{{producto.preciousd}}</b></div>
                </div>
                <img src="{{producto.foto1producto}}.png">
            </div>

    </div>
</ng-template>

</p-dataView>


<p-dialog header="Administrar" [responsive]="true" [style]="{width: '400px'}" [(visible)]="displayadmin" [modal]="true">
    
   <div>
    <div class="ui-g-12">
            <button pButton type="button" (click)="adiminstrarproductos()" label="Administrar Productos"></button>
        
        
        </div>

    <div class="ui-g-12">
            <button pButton type="button" label="Administrar Categorías"></button>
        </div>
        
    <div class="ui-g-12">
            <button pButton type="button" label="Administrar Subcategorías">
                
            </button>

    </div>
    
   
</div>
</p-dialog>

<p-dialog header="Administrar  Productos" [responsive]="true" [style]="{width: '400px'}" [(visible)]="displayadminproductos" [modal]="true">
    <div class="ui-g ui-fluid">        
        <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label for="subcategoria">Subcategoría ID</label>
                    </div>
                    <div class="ui-g-8">
                        <input pInputText id="subcategoria" [(ngModel)]="producto.fk_to_subcategoria" />
                    </div>
                </div>
        
                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label for="Nombre Producto">Nombre Producto</label>
                    </div>
                    <div class="ui-g-8">
                        <input pInputText id="nombreproducto" [(ngModel)]="producto.nombreproducto" />
                    </div>
                </div>
                
                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label for="descripcion">Descripción</label>
                    </div>
                    <div class="ui-g-8">
                        <input pInputText id="descripcionproducto" [(ngModel)]="producto.descripcion" />
                    </div>
                </div>
               
                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label for=peso>Peso</label>
                    </div>
                    <div class="ui-g-8">
                        <input pInputText id="peso" [(ngModel)]="producto.peso" />
                    </div>
                </div>
                
                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label for=precio>Precio USD</label>
                    </div>
                    <div class="ui-g-8">
                        <input pInputText id="preciousd" [(ngModel)]="producto.preciousd" />
                    </div>
                </div>
        
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for=foto1producto>Foto 1</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText id="foto1producto" [(ngModel)]="producto.foto1producto" />
                </div>
            </div>
        
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for=foto2producto>Foto 2</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText id="foto2producto" [(ngModel)]="producto.foto2producto" />
                </div>
            </div>
        
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for=foto3producto>Foto 3</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText id="foto3producto" [(ngModel)]="producto.foto3producto" />
                </div>
            </div>
        </div>

            <p-footer>
                <div class="ui-dialog-buttonpane ui-helper-clearfix">
                    <button type="button" pButton icon="pi pi-check" (click)="guardarproducto()" label="Guardar">
                        
                    </button>
                </div>
            </p-footer>
           
</p-dialog>


